body {
    background-image: url('C: /Users/Iasmor/Pictures/YouNick/LOGOTIPO 3PNG;'); /* Substitua 'background.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}